.carousel-card{
    /* margin-right: 20px; */
    height: 500px;
    /* border: 1px red solid; */
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 12px;
    background-color: white;
}
.carousel-card img{
    width: 293px;
}
.one-carousel-card{
    
    height: 500px;
    /* border: 1px red solid; */
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 12px;
}
.one-carousel-card img{
    width: 293px;
}