.card-main {
    /* border: 1px solid red; */
    line-height: 0;

}

.womenItme-main-con {
    margin-top: 40px;
    width: 90%;
    margin: auto;
    /* border: 1px solid green; */

    display: flex;
    gap: 10px;
    /* position: relative; */
}

.womenItem-main-con-1st-div {
    width: 25%;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 78vh;
    background-color: rgba(245, 240, 240, 0.725)
        /* position: fixed; */
}

.price-filter input,
.size-filter input {
    width: 100px;
    margin-right: 5px;
}

.womenItem-main-con-2nd-div {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* position: relative; */
    /* margin-left: 300px; */
    /* text-align: start; */
}

.card-main {
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    color: #333333;


}

.card-main>img {
    width: 100%;
}

/* .womenDetail-2nd-con{
    text-align: start;
}
.womenDetail-2nd-con p{
    display: inline-block;
} */

@media (max-width:820px) {
    .women-head-container {
        /* border: 1px solid red; */
        width: 144%;
        padding: 0px;
    }

}

@media (max-width:420px) {
    .women-head-container {
        /* border: 1px solid red; */
        width: 282%;
        padding: 0px;
    }

    .womenItem-main-con-2nd-div {
        grid-template-columns: repeat(1, 1fr);
    }
}