.men-product-container{
    margin: 0;
    padding: 0;
    position: relative;
    /* overflow: hidden; */
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 70%;
    /* height: 500px; */
    margin: auto;
    /* background-color: white; */

}
.men-one-product-container{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 70%;
    /* height: 500px; */
    margin: auto;
    /* background-color: white; */
}

.men-product-slider{
    display: flex;
    gap: 12px;
    margin: 20px;
    /* border: 1px red solid; */
    /* white-space: nowrap; */
    overflow:hidden;
    scroll-behavior: smooth;
    margin-right: 10px;
    /* background-color: white; */
}
.men-one-product-slider{
    display: flex;
    gap: 12px;
    margin: 20px;
    /* border: 1px red solid; */
    /* white-space: nowrap; */
    overflow:hidden;
    scroll-behavior: smooth;
    margin-right: 10px;
    /* background-color: white; */
}

.men-prev-btn, .men-next-btn{
    position: absolute;
    width: 20px;
    height: 100%;
    /* top:30px; */
    border: none;

    
}
.men-one-prev-btn, .men-one-next-btn{
    position: absolute;
    width: 20px;
    height: 100%;
    /* top:30px; */
    border: none;

    
}
.men-prev-btn{
    left:0;
}
.men-one-prev-btn{
    left:0;
}
.men-next-btn{
    right: 0;
}
.men-one-next-btn{
    right: 0;
}

.men-prev-btn p, .men-next-btn p{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    
}
.men-one-prev-btn p, .men-one-next-btn p{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    
}

.men-next-btn p{
    right: 40px;
    color: white;
    font-size: 25px;
}
.men-one-next-btn p{
    right: 40px;
    color: white;
    font-size: 25px;
}
.men-prev-btn p{
    right: 5px;
    color: white;
    font-size: 25px;
}
.men-one-prev-btn p{
    right: 5px;
    color: white;
    font-size: 25px;
}

.men-new-arrival-heading{
    margin-left: 0;
    /* text-align: center; */
    font-size: 24px;
    letter-spacing:2px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.men-view-all-heading{
    /* margin-left: 650px; */
    /* text-align: center; */
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.men-view-all-heading:hover{
    color: gray;
}

.men-ONE-OF-A-KIND{
    /* margin-left: 0 !important; */
    text-align: center;
    font-size: 24px;
    letter-spacing:2px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}