.login-line-dotten {
    background: url("https://www.yoox.com/media/yoox16/myoox/border_dotted_big.png") repeat-x 0 100%;
    height: 9px;
    padding: 0px;
}

.login-con {
    /* border: 1px solid red; */
    background-color: #f3f3f3;
    text-align: center;
}

.login-main-con {
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 80px;
    background-color: white;
    padding: 30px;
}

.login-main-con>div {
    width: 50%;
}

.login-main-con-child-1>input {
    width: 95%;
    height: 45px;
    border: none;
    background-color: rgb(239, 241, 243);
    padding-left: 20px;
    font-weight: normal;
    font-size: 20px;
    outline: none;
    color: black;
}

.login-main-con-child-1>button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #333333;
    color: white;
    font-weight: bolder;
}

.log-main-child-2-box {
    /* border: 1px solid red; */
    margin-bottom: 30px;
}

.login-main-con-child-2>div>button {
    width: 100%;
    height: 47px;
    margin-bottom: 23.5px;
}

.log-reg-btn {
    width: 100%;
    height: 47px;
    border: none;
    font-weight: bolder;
}

.log-reg-btn:hover {
    color: gray;
}

@media screen and (max-width:820px) {
    /* .login-line-dotten {
        width: 150%;
    } */

    .login-con {
        width: 150%;
    }

    .login-main-con {
        /* border: 1px solid red; */
        width: 80%;
    }
}

@media screen and (max-width:480px) {
    .login-con {
        /* border: 1px solid red; */
        width: 283%;
    }

    .login-main-con {
        /* border: 1px solid red; */
        flex-direction: column-reverse;
    }

    .login-main-con>div {
        width: 100%;
    }
}