p {
    font-size: 14px;
    line-height: 1.5;
}

.Profile-1st-con {
    /* border: 1px solid red; */
    background-color: white;
    height: 150px;
    line-height: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
}

.Profile-1st-con>div>button {
    background-color: rgb(34, 138, 224);
    border: none;
    padding: 2px 10px;
    cursor: pointer;
}

.Profile-2nd-con {
    /* border: 1px solid red; */
    /* height: 250px; */
    width: 75%;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}

.Profile-2nd-con>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-2nd-con>div:nth-child(1) {
    /* border: 1px solid red; */
    border-right: 1px solid rgb(194, 193, 193);
}

.Profile-3rd-con {
    /* border: 1px solid green; */
    width: 80%;
    margin: auto;
    padding: 0px 0px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.Profile-3rd-con>div {
    /* border: 1px solid red; */
    /* height: 200px; */
    padding: 80px 0px 0px 0px;
    background-color: white;
}

.Profile-3rd-con>div>a {
    text-decoration: none;
    color: black;
}

.Profile-3rd-con>div>a>p {
    /* border: 1px solid hotpink; */
    width: 64%;
    margin: auto;
}

.Profile-3rd-container-child-2 {
    /* border: 1px solid green; */
    /* width: 56%; */
    margin: auto;
    padding: 40px 0px;
    margin-top: 80px;
    border-top: 1px solid rgb(198, 196, 196);

}

.Profile-3rd-container-child-2>p {
    /* border: 1px solid gold; */
    height: 60px;
    width: 62%;
    margin: auto;
}

.Profile-3rd-container-child-2>button {
    padding: 10px 100px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
}

.Profile-3rd-container-child-2>button:hover {
    color: grey;
}

.Profile-4th-con {
    /* border: 1px solid red; */
    /* height: 400px; */
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.Profile-4th-con>div {
    /* border: 1px solid green; */
    height: 350px;
    background-color: white;
}

.Profile-4th-con>div>img {
    width: 100%;
    height: 100%;
}

.Profile-4th-con>div>div>p {
    /* border: 1px solid goldenrod; */
    width: 60%;
    margin: auto;
}