.navbar-1 {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    width: 67%;
    margin-left: 200px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* position: fixed; */
}

.navbar-1-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.ind-cu-un {
    text-decoration: underline;
}

.navbar-1-divs>div>a {
    /* text-decoration: none; */
    color: black;
}

.nav-line {
    border-bottom: 1px solid rgb(225, 222, 222);
}

.navbar-2 {
    /* border: 1px solid red; */
    width: 67%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-div {
    width: 100px;
    height: 25px;
    /* border: 1px solid red; */
}

.logo-div>a>img {
    width: 100%;
    height: 100%;
}

.navbar-2-1st-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.navbar-2-1st-div>a {
    text-decoration: none;
    font-size: 12px;
}

.navbar-2-1st-div>a>h3 {
    font-weight: bolder;
    color: black;
}

.navbar-2-3rd-div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.cart-value {
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 15px;
    position: absolute;
    right: 226px;
    padding: 2px;
}

@media screen and (max-width:820px) {
    .navbar-1 {
        font-size: 8px;
        /* border: 1px solid red; */
        width: 141%;
        padding: 5px 10px;
        height: 10px;
        margin-left: 0px;
    }

    .navbar-2 {
        /* border: 1px solid gold; */
        width: 138%;
        padding: 5px 20px;
    }

    .logo-div {
        /* border: 1px solid green; */
        height: 20px;
    }

    .navbar-2-1st-div>a>h3 {
        font-size: 10px;
    }

    .navbar-2-3rd-div {
        gap: 20px;
    }

    .cart-value {
        border: 1px solid white;
        right: -42%;
    }
}

@media screen and (max-width:480px) {
    .navbar-1 {
        /* display: block; */
        /* border: 1px solid red; */
        font-size: 8px;
        width: 210%;
        margin-left: 0px;

        height: 30px;
        font-size: 10px;
    }

    .navbar-2 {
        /* border: 1px solid red; */
        width: 205%;
        /* display: none; */
    }

    .navbar-2-1st-div>a>h3 {
        font-size: 15px;
    }

    .logo-div {
        /* border: 1px solid green; */
        height: 16px;
    }

    .navbar-1-divs>p {
        /* border: 1px solid red; */
        font-size: 10px;
    }

    .cart-value {
        border: 1px solid rgb(249, 251, 249);
        right: -181%;
    }

}