.product_container {
    border: 1px solid black;
    /* width: 250px; */
    padding: 20px;
    text-align: center;

}

.product_image>img {
    width: 100%;
    height: 250px;
}

/* .product_details{
   
    
} */

.edit_btn button {
    width: 40%;
    font-size: 20px;
    padding: 9px;
    cursor: pointer;
    background-color: #333333;
    color: white;
    border: none;
}

.edit_btn>button {
    width: 50%;
    font-size: 20px;
    padding: 9px;
    cursor: pointer;


}

/* .edit_btn>a>button {
    width: 50%;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
} */

.all_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.dash-con-header {
    background-color: #333333;
    color: white;
    padding: 10px;
}

@media (max-width: 880px) {

    .all_products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }
}

@media (max-width: 460px) {
    .all_products {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .product_image {
        /* border: 1px solid red; */
        height: 700px;
    }

    .product_image>img {
        width: 100%;
        height: 100%;
    }
}