.admin_heading {
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding: 10px;
    position: relative;
}

.admin_heading>a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.admin_heading>a:hover {
    color: red;
    cursor: pointer;
}

.admin_panel {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #F3F3F3;
}

.form {
    border: 2px solid rgb(186, 184, 184);
    padding: 10px;
    height: fit-content;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dash {
    border: 2px solid rgb(186, 184, 184);
    background-color: white;
    width: 70%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 820px) {
    .admin_panel {
        width: 138%;
        /* border: 1px solid red; */
        display: block;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        background-color: #F3F3F3;
    }

    .form {
        width: 95%;
        margin: auto;

    }

    .dash {
        width: 95%;
        margin: auto;
        margin-top: 20px;

    }
}

@media (max-width: 480px) {
    .admin_panel {
        width: 270%;
        /* border: 1px solid red; */

    }
}