.admin_heading{
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding: 10px;
    position: relative;
}

.admin_heading>a{
 font-size: 30px;
 text-decoration: none;
 color: white;
}
.admin_heading>a:hover{
    color: red;
    cursor: pointer;
}
.admin_panel{
display: flex;
justify-content: space-between;
padding: 10px;
}
.form{
    border: 1px solid black;
    padding: 10px;
    height: fit-content;
}
.dash{
    border: 1px solid black;
    width: 70%;
    padding: 10px;
}